# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and databases
*.log
*.sqlite
progress.json
raw_response.json
formatted_data.txt

# Uploads folder
uploads/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo .env
